<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bfc7f7">  <td>15/09/06 01:21:07</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;RoughTests.beforeTestPreRequisites()[pri:0, instance:roughs.RoughTests@662ac478]">&gt;&gt;beforeTestPreRequisites</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1709804316</td>   <td></td> </tr>
</table>
