<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Insprint test Suite1</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d0a1cf">  <td>15/09/28 22:44:57</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestStory265.beforeTestPreRequisites()[pri:0, instance:com.deloitte.lineage.testClasses.TestStory265@2002fc1d]">&gt;&gt;beforeTestPreRequisites</td> 
<td>&nbsp;</td>  <td>main@838449246</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>15/09/28 22:45:03</td>   <td>5955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestStory265.TC_LLVP_265_1()[pri:0, instance:com.deloitte.lineage.testClasses.TestStory265@2002fc1d]">TC_LLVP_265_1</td> 
  <td>main@838449246</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>15/09/28 22:45:50</td>   <td>53446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestStory265.afterTestTearDowns()[pri:0, instance:com.deloitte.lineage.testClasses.TestStory265@2002fc1d]">&lt;&lt;afterTestTearDowns</td> 
<td>&nbsp;</td>  <td>main@838449246</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>15/09/28 22:45:50</td>   <td>53467</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestStory265.beforeTestPreRequisites()[pri:0, instance:com.deloitte.lineage.testClasses.TestStory265@2002fc1d]">&gt;&gt;beforeTestPreRequisites</td> 
<td>&nbsp;</td>  <td>main@838449246</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>15/09/28 22:45:54</td>   <td>57320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestStory265.TC_LLVP_265_3()[pri:0, instance:com.deloitte.lineage.testClasses.TestStory265@2002fc1d]">TC_LLVP_265_3</td> 
  <td>main@838449246</td>   <td></td> </tr>
<tr bgcolor="d0a1cf">  <td>15/09/28 22:46:53</td>   <td>115955</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestStory265.afterTestTearDowns()[pri:0, instance:com.deloitte.lineage.testClasses.TestStory265@2002fc1d]">&lt;&lt;afterTestTearDowns</td> 
<td>&nbsp;</td>  <td>main@838449246</td>   <td></td> </tr>
</table>
